
        <div class="card">
          <div class="card-header">
            <h4>Manager</h4>
          </div>
          <div class="card-body">
            <ul id="tableList" class="list-group">
                <li class="list-group-item mt-4">
                    <h2>Majid Paktinat</h2><hr>
                    <h2>ID: 1</h2>
                    <h2>Name: Majid Paktinat</h2>
                    <h2>Email: majid@tesr.com</h2>
                    <h2>Phone: 1</h2>
                </li>
            </ul>
          </div>
        </div>
    
        <div class="card">
          <div class="card-header">
            <h4>Current Reservations</h4>
          </div>
          <div class="card-body">
            <ul id="tableList" class="list-group">
              <li class="list-group-item mt-4">
                <h2>Table #1</h2><hr>
                <h2>ID: afhaque89</h2>
                <h2>Name: Ahmed</h2>
                <h2>Email: ahmed@example.com</h2
                  ><h2>Phone: 000-000-0000</h2>
              </li>
            </ul>
          </div>
        </div>